{% extends "admin/base.html" %}
{% block page_title %}Attendance Monitor{% endblock %}

{% block content %}

<!-- Stats -->
<div class="att-stats">
  <div class="stat-box">
    <div class="stat-val" style="color: green">
      {{ today_attendance|length }}
    </div>
    <div class="stat-lbl">Present Today</div>
  </div>

  <div class="stat-box">
    <div class="stat-val" style="color: red">
      {{ absent_today|length }}
    </div>
    <div class="stat-lbl">Absent</div>
  </div>
</div>

<!-- TABLE -->
<table border="1" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    {% for record in today_attendance %}
    <tr>
      <td>{{ record['full_name'] }}</td>

      <td>
        {{ record['check_in_time'].split(' ')[1] if record['check_in_time'] else '-' }}
      </td>

      <td>
        {{ record['check_out_time'].split(' ')[1] if record['check_out_time'] else '-' }}
      </td>

      <td>
        {{ record['work_hours'] if record['work_hours'] else '-' }}
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">No data</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>

<!-- ABSENT USERS -->
<h3>Absent Today</h3>

{% for user in absent_today %}
  <div>
    {{ user['full_name'] }}
  </div>
{% endfor %}

{% endblock %}